.login {
  flex: 1 0 auto;
  
  .login-aside {
    flex: 1 auto;
    width: 65% !important;
    // background-color: #e05826;
    // background-color: #000000;
    background-image: linear-gradient(to right, orange ,#1e8b1e, #41b9e9);
    padding: 3.75rem 3.75rem;
    
    
    .aside-content {
      .logo {
        max-height: 320px;
        margin-bottom: 5.8rem;
       
      }

      

      .aside-bottom {
        width: 500px;

        .aside-terms {
          color: #fff;
        }

        .aside-links {
          color: #fff;

          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  .login-right {

    flex: 1 auto;
    width: 35% !important;
    // padding: 3.75rem 3.75rem;
    // background-image: linear-gradient(to left, orange ,rgb(90, 140, 90), #41b9e9);
    background-color: white;
    
    
    .login-content {
      // border: 3px groove #e05826; 
      padding: 30px;
      width: 520px;
      box-sizing: border-box;
    }
    
    .letter-space{
      letter-spacing: 1px;
    }
  }
}

.login-center {

  flex: 1 auto;
  width: 35% !important;
  // padding: 3.75rem 3.75rem;
  // background-image: linear-gradient(to left, orange ,rgb(90, 140, 90), #41b9e9);
  background-color: white;
}